body {
  font-family: sans-serif;
  font-size: 20px;
}

p {
  font-size: 1.5em;
}

a {
  color: #346DFF;
  text-decoration: none;
}

.recipients {
  
}
.recipient {
  
}

section {
  width: 70%;
  margin: 0 auto;
}

.message {
  text-align: right;
}

.message.me {
  text-align: left;
}

.message h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.message p {
  padding-top: 0px;
  margin-top: 0px;
}
.grid {
-moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;

}
.message img {
  width: 70%;
}
.grid .message {
  display: inline-block; /* Display inline-block, and absolutely NO FLOATS! */
        margin-bottom: 20px;
        width: 100%;
}
.grid .message img {
  width: 100%;
}
.grid .author {
  display: none;
}
.recipient h4 {
  margin-bottom: 0px;
}
.recipient ul {
  margin: 0;
  padding: 0;
}
.recipient li {
  margin-right: 5px;
  display: inline;
}

#links-page .link {
  font-size: 1em;
}

.only-links.from-me {
  color: #aaa;
}

.author {
  font-size: 0.7em;
  font-weight: 600;
}

#links-page .link {
  margin-bottom: 10px;
}

#links-page .links {
  margin-top: 30px;
}