<html ng-app="imessage2">
<head>
  <title>iMessage with Express</title>
   <link href="/style.css" rel="stylesheet" type="text/css"/>
   <link href="/favicon.png" rel="icon" type="image/x-icon" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body ng-controller="imMessages">
  <section class="container">
    <input type="text" ng-model="search.id">
    
    <div class="recipients">
      <div ng-repeat="contact in contacts | filter:search" class="recipient">
        <h4>{{contact.id}}</h4>
        <ul>
          <li><a ng-href="/messages/{{contact.ROWID}}">Chat</a></li>
          <li><a ng-href="/attachments/{{contact.ROWID}}">Attachments</a></li>
          <li><a ng-href="/links/{{contact.ROWID}}">Links</a></li>
        </ul>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript">

  angular.module('imessage2', [])
    .controller('imMessages', function($scope, $http) {
      $scope.messages = []
      $scope.contacts = {};
      $scope.search = {};

      $http.get('/api/contacts')
        .success(function(contacts) {
          var contactsDict = {}
          contacts.forEach(function(contact) {
            contactsDict[contact.ROWID] = contact;
          })
          $scope.contacts = contactsDict;
        })
    })
  </script>
</body>
</html>